@{
    var obj = ViewData["obj"] as BootStrapTreeTable;
    if (obj == null)
    {
        return;
    }
}
<div class="box">
    <div class="box-header">
        <h3 class="box-title">@obj.TableName</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="Table_@obj.TableId" viewModel="@obj.ViewModel" class="table table-bordered table-hover">
            <thead>
                <tr>
                    @{
                        foreach (var item in obj.BootStrapTableColumns)
                        {
                            <th>@item.Title</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                <!-- 内容 ，需要使用Ajax 获取数据 -->
            </tbody>
            <tfoot>
                <tr>
                    @{
                        foreach (var item in obj.BootStrapTableColumns)
                        {
                            <th>@item.Title</th>
                        }
                    }
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<script>
    var objTable;
    $(function () {
        objTable = $('#Table_@obj.TableId').DataTable({
            paging: false,
            lengthChange: true,
            searching: false,
            ordering: false,
            info: true,
            autoWidth: true,
            processing: true,
            serverSide: true,
            ajax: {
                "url": "/WebApi/Home/GetTreeTableData",
                "type": "POST",
                "data": function (d) {
                    d.viewModelFullName = "@obj.ViewModel";
                    var searcherField = "";
                    searcherField += "{";
                    @foreach (var item in obj.BootStrapTableSearcherFields)
                    {
                        var tableId = item.Title + "txt_" + obj.TableId;
                        @:if ($("#@tableId").length > 0) { searcherField += "\"@item.Title\":\"" + $("#@tableId").val() + "\"" };
                        @:searcherField += ",";
                    }
                    searcherField = searcherField.substr(0, searcherField.length - 1);
                    searcherField += "}";
                    d.searcher = searcherField;
                }
            },
            initComplete: function () {
                $('#Table_@obj.TableId').treegrid();
            },
            drawCallback: function (settings) {
                $('#Table_@obj.TableId').treegrid();
            },
            rowCallback: function (row, data, displayIndex) {//行定义
                if (data.ParentId !== "") {
                    $(row).attr("class", "text-c treegrid-" + data.Id + " treegrid-parent-" + data.ParentId);
                }
                else {
                    $(row).attr("class", "text-c treegrid-" + data.Id);
                }
            },
            createdRow: function (row, data, displayIndex) {//行定义
                if (data.ParentId !== "") {
                    $(row).attr("class", "text-c treegrid-" + data.Id + " treegrid-parent-" + data.ParentId);
                }
                else {
                    $(row).attr("class", "text-c treegrid-" + data.Id);
                }
            },
            columns: [
                // ReSharper disable once ElidedTrailingElement
                @foreach (var item in obj.BootStrapTableColumns)
                {
                    @:{ "data": "@item.Title" },
                }
            ]
        });
    });
</script>
<link href="~/Content/Assembly/Table/dataTables.bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/Assembly/TreeTable/css/jquery.treegrid.css">
<script src="~/Content/Assembly/Table/jquery.dataTables.min.js"></script>
<script src="~/Content/Assembly/Table/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="~/Content/Assembly/TreeTable/js/jquery.treegrid.js"></script>