@{
    var obj = ViewData["bootstrapTextField"] as BootstrapTextField;
    if (obj == null)
    {
        return;
    }
}
<div class="form-group">
    <label for="@obj.InputId">@obj.LableText</label>
    <input type="@obj.InputType" name="@obj.InputName" value="@obj.Value" ErrorMessage="@obj.Error" class="form-control" id="@obj.InputId" placeholder="@obj.Description">
</div>