@using Newtonsoft.Json
@{
    var obj = ViewData["obj"] as BootStrapTable;
    if (obj == null)
    {
        return;
    }
}
<div class="box">
    <div class="box-header">
        <h3 class="box-title">@obj.TableName</h3>
    </div>
    <div class="box-body">
        <table id="Table_@obj.TableId" viewModel="@obj.ViewModel" class="table table-bordered table-hover">
            <thead>
                <tr>
                    @{
                        if (obj.IsEnableCheckBox)
                        {
                            <th></th>
                            @*<th><input type="checkbox" name="select_all" value="1" id="example-select-all"></th>*@ // 全选按钮 暂时废弃
                        }
                        foreach (var item in obj.BootStrapTableColumnsObj)
                        {
                            <th>@Html.Raw(item.Title)</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                <!-- 内容 ，需要使用Ajax 获取数据 -->
            </tbody>
        </table>
    </div>
</div>


<!-- 模态声明，show 表示显示,没有show 则不显示 -->
<div class="modal fade" id="modal_@obj.TableId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<script>
    var @obj.JsObjName;
    var CONSTANT = {
        DATA_TABLES: {
            COLUMN: {
                CHECKBOX: {
                    className: "td-checkbox",
                    orderable: false,
                    bSortable: false,
                    data: "Id",
                    width: '30px',
                    render: function(data, type, row, meta) {
                        //var content = '<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">';
                        //content += '    <input type="checkbox" class="group-checkable" value="' + data + '" />';
                        //content += '    <span></span>';
                        //content += '</label>';

                        var content = '<input type="checkbox" class="group-checkable" value="' + data + '" />';
                        return content;
                    }
                },
                ACTION: {

                }
            }
        }
    }
    $(function() {
        @obj.JsObjName = $('#Table_@obj.TableId').DataTable({
            paging: true,
            lengthChange: true,
            searching: false,
            ordering: false,
            info: true,
            autoWidth: true,
            processing: true,
            serverSide: true,
            ajax: {
                "url": "/WebApi/Home/GetTableData",
                "type": "POST",
                "data": function(d) {
                    d.viewModelFullName = "@obj.ViewModel";
                    var searcherField = "";
                    searcherField += "{";
                    @foreach (var item in obj.BootStrapTableSearcherFieldsObj)
                    {
                        var tableId = item.Title + "txt_" + obj.TableId;
                        @:if ($("#@tableId").length > 0) { searcherField += "\"@item.Title\":\"" + $("#@tableId").val() + "\"" };
                        @:searcherField += ",";
                    }
                    searcherField = searcherField.substr(0, searcherField.length - 1);
                    searcherField += "}";
                    d.searcher = searcherField;
                }
            },
            "columns": [
                @{
                    if (obj.IsEnableCheckBox)
                    {
                        @:CONSTANT.DATA_TABLES.COLUMN.CHECKBOX,
                    }
                    foreach (var item in obj.BootStrapTableColumnsObj)
                    {
                        if (item.Title != "Action")
                        {
                            @:{ "data": "@item.Title" },
                        }
                        else
                        {
                            @:{"data":null}
                        }
                    }
                }
            ],
            "columnDefs": [
                { "orderable": false, "targets": 0 },
                @{
                    foreach (var item in obj.BootStrapTableColumnsObj)
                    {
                        if (item.Title == "Action")
                        {
                            @:{
                              @:  targets: -1,
                                @:render: function (data, type, row, meta){
                                  @:  return '<a type="button"  href="#" onclick="del("' + row.id + '","' + row.name + '")" >删除</a>';
                                @:}
                            @:}
                        }
                    }
                }
            ],
            "order": [],
            //当初始化结束后执行的回调函数
            initComplete: function (settings, json) {

            }
        });
        $('#Table_@obj.TableId tbody').on('click', '.group-checkable', function () {
            if ($(this).prop('checked')) {
                $(this).parent().parent().addClass('selected');
            } else {
                $(this).parent().parent().removeClass('selected');
            }
        });
    });
</script>
<link href="~/Content/Assembly/Table/dataTables.bootstrap.css" rel="stylesheet" />
<script src="~/Content/Assembly/Table/jquery.dataTables.min.js"></script>
<script src="~/Content/Assembly/Table/dataTables.bootstrap.min.js"></script>
